<footer>
  <article class="footerInnerContainer">
    <p>&#169 Rishav Jadon</p>
    <ul class="iconList">
        <li class="icon-twitter">
         <a href="https://twitter.com/rovenclasher"><img src="/assets/icons/icon-twitter.svg" alt="icon-twitter"></a>
        </li>
        <li class="icon-github">
          <a href="https://github.com/rjitsu"><img src="/assets/icons/icon-github.svg" alt=""></a>
        </li>
        <li class="icon-linkedin">
         <a href="https://linkedin.com"><img src="/assets/icons/icon-linkedin.svg" alt="icon-linkedin"></a>
        </li>
    </ul>
    </article>
</footer>